<!DOCTYPE html>
<html>
  <head>
    <title>Lexop</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'hello-world-bundle' %>

    <script defer src="https://use.fontawesome.com/releases/v5.0.2/js/all.js"></script>



  </head>

  <body>
    <div class="container" id="alert_box">
      <p class="notice" style="display:none"><%= notice %></p>
      <p class="alert" style="display:none"><%= alert %></p>
    </div>
    <%= render 'layouts/navbar' %>
    <%= yield %>
  </body>
</html>
